#print-modal {
  margin: auto;
  width: min(900px, 100%);
  max-height: 100%;
  max-width: 100%;

  padding: 0;
  background: none;
  border: unset;
}

#dialog-content {
  display: grid;
  grid-template-columns: 1fr;

  background-color: white;
  border: 2px solid var(--text-normal);
  border-radius: 1rem;

  & > * {
    grid-row-start: 1;
    grid-column-start: 1;
  }
}

.modal-content {
  padding: 2rem;
}

.modal-columns {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-block: 2rem;
}

.print-opt {
  --shadow-color: #aaaa;
  display: flex;
  height: min-content;
  padding: 0.5rem 1rem 1rem;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  border-radius: 0.5rem;
  box-shadow: 0 2px 8px var(--shadow-color);

  transition: all var(--speed-fast) ease;

  &:hover {
    --shadow-color: #444a;
  }
}

.modal-imgs {
  display: grid;
}

.stacked-imgs {
  overflow: clip;

  & > img {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%;

    transition: all var(--speed-medium) ease-out;
  }

  & > :last-child {
    translate: -15% 0;
    box-shadow: 2px 4px 8px 0 #0007;
  }
}
.print-opt:hover .stacked-imgs > :last-child {
  translate: -50% 0;
}

.x-button {
  place-self: start end;
  padding: 1rem;
  z-index: 1;
  border: none;
  background: none;
  cursor: pointer;
  line-height: 1;
  color: var(--text-normal);
  font-size: 2.5rem;
}

.modal-header {
  display: flex;
  justify-content: right;
}

/* Animation */
dialog {
  animation: dialog-in 200ms ease-out forwards;

  &::backdrop {
    animation: dialog-bg 200ms ease-out forwards;
  }
}

@keyframes dialog-in {
  from {
    opacity: 0;
    translate: 0 10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes dialog-bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}
